<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.connorjpearson.morsebuzz</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.connorjpearson.morsebuzz</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>nameMode</string>
			<key>label</key>
			<string>Name Mode</string>
			<key>validTitles</key>
			<array>
				<string>Full Name</string>
				<string>First Name</string>
				<string>Last Name</string>
				<string>Initials</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>Morse Buzz</string>
</dict>
</plist>
